.outerbody{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

#ac{
    background-color: red;
}

#op{
    background-color: yellow;
    color: black;
    width: 250px;
    height: 40px;
    border: 2px black solid;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.body{
 display: flex;
 align-items: center;
 flex-direction: column;
 height: 500px;
 width: 400px;
 outline: solid;
}


.box1{
    height:100px;
    width: 350px;
    margin: 25px;
    outline: solid;
    background-color: rgb(167, 167, 167);
    
}

.box2{
    margin: 35px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    grid-auto-rows: minmax(50px, auto);
    
}

button{
    height: 50px;
    min-width: 50px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover{
    background-color: black;
    color: red;
    cursor: pointer;
}

.number{
    background-color: gray;
}

.operator{
    background-color: orange;
    color: black;
}









